<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie książki</title>
    <link rel="stylesheet" th:href="@{/styles/style-add_book.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{../images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
        <h2>Dodawanie książki</h2>
        <form th:action="@{/console/process_add_book}" method="post"
          style="max-width: 600px; margin: 0 auto;"
          th:object="${book}">
            <div class="edit_part">
                <label >Tytuł</label>
                    <input type="text" class="form-control" th:field="*{title}"  required minlength="2"/>
            </div>
            <div class="edit_part">
                <label >Autor</label>
                <input type="text" class="form-control" th:field="*{author}" required minlength="2"
                           maxlength="64"/>
            </div>
            <div class="edit_part">
                <label>Kategoria</label>
                    <label for="cars">Kategoria:</label>

                    <select th:field="*{category}" id="cars">
                        <option value="OBYCZAJOWA">obyczajowa</option>
                        <option value="ROMANS">romans</option>
                        <option value="HORROR">horror</option>
                        <option value="FANTASY">fantasy</option>
                        <option value="MŁODZIEŻOWE">młodzieżowa</option>
                        <option value="LEKTURA">lektura</option>
                        <option value="KRYMINAŁ">kryminał</option>
                        <option value="SCIFI">sci-fi</option>
                    </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Dodaj książkę</button>
            </div>
    </form>
</div>
</div>
    <footer>
        <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
        <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
    </footer>
</body>
</html>