<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style-edit_book.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Edit book</title>
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{/images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
    <h2>Edycja książki</h2>
    <form class="edit_option"  th:action="@{/console/process_edit_book}" method="post"  th:object="${book}">
            <div class="option">
                <label >ID książki</label>
                <input type="text" class="form-control" th:field="*{id}" readonly = "readonly"/>
            </div>
            <div class="option">
                <label >Tytuł</label>
                <input type="text" class="form-control" th:field="*{title}" required/>
            </div>
            <div class="option">
                <label >Autor</label>
                <input type="text" class="form-control" th:field="*{author}" required minlength="8" maxlength="64"/>
            </div>
            <div class="option">
                    <label for="cars2">Kategoria:</label>

                    <select th:field="*{category}" id="cars2">
                        <option value="OBYCZAJOWA">obyczajowa</option>
                        <option value="ROMANS">romans</option>
                        <option value="HORROR">horror</option>
                        <option value="FANTASY">fantasy</option>
                        <option value="MŁODZIEŻOWE">młodzieżowa</option>
                        <option value="LEKTURA">lektura</option>
                        <option value="KRYMINAŁ">kryminał</option>
                        <option value="SCIFI">sci-fi</option>
                    </select>
            </div>

            <div class="option">
                    <label for="cars3">Status książki:</label>
                    <select th:field="*{bookStatus}" id="cars3">
                        <option value="DOSTEPNA">Dostępna</option>
                        <option value="NIEDOSTEPNA">Niedostępna</option>
                        <option value="ZAGUBIONA">Zagubiona</option>
                    </select>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK</p>
    <p>93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>