<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link rel="stylesheet" th:href="@{styles/style-edit_book.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="main">
        <h1>Edycja książki</h1>
         <form th:action="@{/console/process_edit_book}" method="post" style="max-width: 600px; margin: 0 auto;" th:object="${book}">
                    <label class="col-form-label col-4">ID książki</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{id}" readonly = "readonly"/>
                    </div>
                <label class="col-form-label col-4">Tytuł</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{title}" required/>
                </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Autor</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{author}" required minlength="8" maxlength="64"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Kategoria</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{category}" required minlength="2"
                           maxlength="35"/>
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</div>
</div>
<footer>
        <p>Biblioteka PJATK GDAŃSK</p>
        <p>93-540 GDAŃSK ul. Brzegi 55 </p>
        <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>