<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/style_edit_user.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Edit user</title>
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{/images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
        <h2>Edycja danych użytkownika</h2>
    <form th:action="@{/console/process_edit}" method="post" th:object="${userEntity}">
            <div class="edit_part">
                <label class="col-form-label col-4">ID użytkownika</label>
                    <input type="text" class="form-control" th:field="*{id}" readonly = "readonly"/>
            </div>
            <div class="edit_part">
                <label class="col-form-label col-4">E-mail</label>
                    <input type="email" class="form-control" th:field="*{email}" required="required"/>
            </div>
            <div class="edit_part">
                <label class="col-form-label col-4">Imie</label>
                    <input type="text" class="form-control" th:field="*{firstName}" required="required" minlength="2"
                           maxlength="35"/>
            </div>
            <div class="edit_part">
                <label class="col-form-label col-4">Nazwisko</label>
                    <input type="text" class="form-control" th:field="*{lastName}" required="required" minlength="2"
                           maxlength="45"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
    </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK</p>
    <p>93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>