<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style-list_reservations.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Books list</title>
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}" sec:authorize="hasAnyAuthority('ADMIN')"><img class="option" th:src="@{../images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h2>Menu</h2>
    </div>
    <div class="main">
        <h2>Książki zarezerwowane</h2>
        <table>
            <thead class="headline">
            <tr>
                <th>ID rezerwacji</th>
                <th>Użytkownik</th>
                <th>Tytuł książki</th>
                <th>Status wypożyczenia</th>
                <th>Data wypożyczenia</th>
                <th>Data zwrotu</th>
                <th>Akcja</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation: ${listReservations}">
                <td th:text="${reservation.id}">ID rezerwacji</td>
                <td th:text="${reservation.userEntity.getEmail()}">Użytkownik</td>
                <td th:text="${reservation.book.getTitle()}">Tytuł książki</td>
                <td th:text="${reservation.reservationStatus}">Status rezerwacji</td>
                <td th:text="${reservation.borrowDate}">Data wypożyczenia</td>
                <td th:text="${reservation.returnDate}">Data zwrotu</td>
                <td>
                    <a th:href="@{'/console/book_ready/' + ${reservation.id}}">Książka gotowa do odbioru</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
        <footer>
            <p>Biblioteka PJATK GDAŃSK93-540 GDAŃSK ul. Brzegi 55 </p>
            <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
        </footer>
</body>
</html>