<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="pl">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style-list_book_admin.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Books list</title>
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>

<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{../images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
        <h2>Nasz księgozbiór</h2>
        <table>
            <thead class="headline">
            <tr>
                <th>ID książki</th>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Kategoria</th>
                <th>Status</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${listBooksAdmin}">
                <td th:text="${book.id}">ID książki</td>
                <td th:text="${book.title}">Tytuł</td>
                <td th:text="${book.author}">Autor</td>
                <td th:text="${book.category}">Kategoria</td>
                <td th:text="${book.bookStatus}">Status</td>

                <td>
                    <a th:href="@{'/console/editbook/' + ${book.id}}">Edycja</a>
                    <a th:href="@{'/console/deletebook/' + ${book.id}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>