<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Księgozbiór</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
    </div>
    <div>
        <h1>Nasz księgozbiór</h1>
    </div>
    <div>
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID książki</th>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Kategoria</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${listBooksAdmin}">
                <td th:text="${book.id}">ID książki</td>
                <td th:text="${book.title}">Tytuł</td>
                <td th:text="${book.author}">Autor</td>
                <td th:text="${book.category}">Kategoria</td>
                <td th:text="${book.bookStatus}">Status</td>
                <td>
                    <a th:href="@{'/editbook/' + ${book.id}}">Edycja</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deletebook/' + ${book.id}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>
        <h3><a th:href="@{/console}">Home</a></h3>
    </div>
</div>
</body>
</html>