<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja użytkownika</title>
    <link rel="stylesheet" th:href="@{/styles/style-registration.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{../images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
        <h2>Rejestracja użytkownika</h2>
        <form name="log" th:action="@{/console/process_register}" method="post" th:object="${user}">
            <div class="register">
                <div class="register_format">
                    <lable>E-mail</lable>
                    <input type="email" th:field="*{email}" required />
                </div>
                <div class="register_format">
                    <labele>Hasło</labele>
                    <input type="password" th:field="*{password}" required minlength="8" maxlength="10" />
                </div>
                <div class="register_format">
                    <label>Powtórz hasło</label>
                    <input type="password" name="password_confirm" class="form-control" required="required" minlength="8" id="password_confirm" oninput="check(this)"
                               maxlength="64"/>
                </div>
                <script type='text/javascript'>
                    function check(input) {
                        if (document.getElementById('password_confirm').value !== document.getElementById('password').value) {
                            input.setCustomValidity('Hasła muszą być takie same.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>
                <div class=" register_format">
                    <labele>Imię</labele>
                    <input type="text" th:field="*{firstName}" required minlength="2" maxlength="35" />
                </div>
                <div class=" register_format">
                    <labele>Nazwisko</labele>
                    <input type="text" th:field="*{lastName}" required minlength="2" maxlength="45" />
                </div>
                <button type="submit" class=""> Zarejestruj</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>