<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja użytkownika</title>
    <link rel="stylesheet" th:href="@{/styles/style-registration.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script type='text/javascript'>
        function check(input) {
            if (document.getElementById('password_confirm').value !== document.getElementById('password').value) {
                input.setCustomValidity('Hasła muszą być takie same.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="border">
        <a th:href="@{/console}"><img class="option" th:src="@{../images/admin_icon/console_icon.png }" alt="Consola"/></a>
        <h3>Menu</h3>
    </div>
    <div class="main">
        <h2>Rejestracja użytkownika</h2>
        <form name="log" th:action="@{/console/process_register}" method="post" th:object="${user}">
            <div class="register">
                <div class="input-container">
                    <input th:field="*{email}" type="email"  name="email" id="email" required=" "minlength="8" maxlength="64"/>
                    <lable>E-mail</lable>
                </div>
                <div class="input-container">
                    <input type="password" th:field="*{password}" name="password" minlength="8" maxlength="10" required="" />
                    <labele>Hasło</labele>
                </div>
                <div class="input-container">
                    <input type="password" name="password_confirm" required="" minlength="8" id="password_confirm" oninput="check(this)"
                               maxlength="64"/>
                    <label>Powtórz hasło</label>
                </div>
                <div class="input-container">
                    <input type="text"  name="name" required="" minlength="2" maxlength="35" th:field="*{firstName}" />
                    <labele>Imię</labele>
                </div>
                <div class="input-container">
                    <input type="text" th:field="*{lastName}"  name="lastName" required="" minlength="2" maxlength="45" />
                    <labele>Nazwisko</labele>
                </div>
                <button type="submit" class="btn"> Zarejestruj</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>