<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8" />
    <link th:href="@{/styles/style-index.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body>
<header>
    <img class="logo" th:src="@{images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="main">
        <h1>Ups.. Coś poszło nie tak</h1>
        <h1>Nieznany błąd serwera</h1>
    </div>
    <h3><a th:href="@{/console}">Home</a></h3>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>
