<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <link rel="stylesheet" th:href="@{styles/style-add_book.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <div class="main">
    <h1>Dodawanie książki</h1>
    <form th:action="@{/process_add_book}" method="post"
          style="max-width: 600px; margin: 0 auto;"
          th:object="${book}">
            <div class="form-group row">
                <label class="col-form-label col-4">Tytuł</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{title}"  required minlength="2"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Autor</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{author}" required minlength="2"
                           maxlength="64"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Kategoria</label>
                <div class="col-8">
                    <label for="cars">Kategoria:</label>

                    <select th:field="*{category}" id="cars">
                        <option value="OBYCZAJOWA">obyczajowa</option>
                        <option value="ROMANS">romans</option>
                        <option value="HORROR">horror</option>
                        <option value="FANTASY">fantasy</option>
                        <option value="MŁODZIEŻOWE">młodzieżowa</option>
                        <option value="LEKTURA">lektura</option>
                        <option value="KRYMINAŁ">kryminał</option>
                        <option value="SCIFI">sci-fi</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Dodaj książkę</button>
            </div>
    </div>
    </form>
</div>
    <footer>
        <p>Biblioteka PJATK GDAŃSK</p>
        <p>93-540 GDAŃSK ul. Brzegi 55 </p>
        <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
    </footer>
</body>
</html>