<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>eLibrary homepage</title>
</head>

<body>

<div class="container text-center">
    <h1>BIBLIOTEKA</h1>
</div>
<div class="container">
    <h2>TOP SECRET 2137</h2>
    <h3><a th:href="@{/}">home</a></h3>
    <h3><a th:href="@{/list_users}">Lista czytelników</a></h3>
    <h3><a th:href="@{/books_list}">Księgozbiór</a></h3>
    <h3><a th:href="@{/add_book}">Dodawanie książki</a></h3>
    <form th:action="@{/logout}" method="post"></form>
        <h3><a th:href="@{/logout}">Wyloguj</a></h3>
    </form>
</div>

</body>
</html>