<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Consola</title>
    <link rel="stylesheet" th:href="@{styles/style_console.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <header>
        <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
    </header>
    <div class="content">
        <div class="container text-center">
            <h1>Masz już za dużo książek</h1>
        </div>
        <div class="border">
            <a th:href="@{/customer}"><img class="option" th:src="@{../images/back.png }" alt="Powrót"/></a>
        </div>

    </div>
    <footer>
        <p>Biblioteka PJATK GDAŃSK</p>
        <p>93-540 GDAŃSK ul. Brzegi 55 </p>
        <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
    </footer>
</div>
</body>
</html>
