<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{styles/style-login.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Zapomniałeś hasła</title>
</head>
<body>
<header>
    <h1>Witaj w eBibliotece</h1>
</header>
<div class="content">
    <a th:href="@{/}"><img class="logo" th:src="@{/images/logo.png}" alt="logo"/></a>
    <div class="main">
        <form th:action="@{/forgot_password}" method="post">
            <div class="form-control">
                <h3>Na podanego w systemie maila wyślemy link do resetowania hasła.</h3>
                <div class="input-container">
                    <input type="text" class="form-control" th:value="${email}" name="email" required/>
                    <label>E-mail</label>
                </div>
                <button type="submit" class="btn">Wyślij</button>
                <button type="submit" class="btn"> <a th:href="@{login}">Powrót</a></button>

            </div>
        </form>
    <div th:if="${error != null}">
        <p class="text-danger">[[${error}]]</p>
    </div>
    <div th:if="${message != null}">
        <p class="text-warning">[[${message}]]</p>
    </div>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>