<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Księgozbior</title>
    <link rel="stylesheet" th:href="@{styles/style-list_book.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<body>
<div class="content">
    <div class="main">
        <h1>Nasz księgozbiór</h1>
        <table>
            <thead class="headline">
            <tr>
                <th> ID książki</th>
                <th> Tytuł</th>
                <th> Autor</th>
                <th> Kategoria</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${listBooks}">
                <td th:text="${book.id}">ID książki</td>
                <td th:text="${book.title}">Tytuł</td>
                <td th:text="${book.author}">Autor</td>
                <td th:text="${book.category}">Kategoria</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK</p>
    <p>93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>