<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Księgozbiór</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
    </div>
    <div>
        <h1>Nasz księgozbiór</h1>
    </div>
    <div>
        <table class="table table-stripped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th> ID książki</th>
                <th> Tytuł</th>
                <th> Autor</th>
                <th> Kategoria</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${listBooks}">
                <td th:text="${book.id}">ID książki</td>
                <td th:text="${book.title}">Tytuł</td>
                <td th:text="${book.author}">Autor</td>
                <td th:text="${book.category}">Kategoria</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>