<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{styles/style-login.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Zaloguj się</title>
</head>
<body>
<header>
    <h1>Witaj w eBibliotece</h1>
</header>
<div class="content">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo"/>
    <div class="main">
        <form name="log" th:action="@{/login}" method="post">
            <div class="input-container">
                <input type="email" id="email" name="username" required=""/>
                <label>E-mail</label>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" minlength="6" maxlength="10" required=""/>
                <label>Hasło</label>
            </div>

            <div th:if="${param.error}">
                <div class="input-container">
                    <h2>Zła nazwa użytkownika lub hasło</h2>
                </div>
            </div>
            <div class="button_container">
            <button type="submit" class="btn"> Zaloguj się</button>
            <button class="btn"><a th:href="@{/forgot_password}">Resetowanie hasła</a></button>
            </div>
        </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>