<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{styles/style-login.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>eBibioteka</title>
</head>
<body>
<header>
    <h1>Witaj w eBibliotece</h1>
</header>
<div class="content">
    <img class="logo" th:src="@{/images/logo.png}" alt="logo"/>
    <div class="main">
        <form name="log" th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <div class="alert">
                    Invalid username or password.
                </div>
            </div>
            <div class="login">
                <div class="login_format">
                    <h2>E-mail: </h2>
                    <input type="email" class="form-control" id="email" name="username" placeholder="email">
                </div>
                <div class="login_format">
                    <h2>Hasło: </h2>
                    <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="10"
                           placeholder="password"/>
                </div>
                <button type="submit" class="button"> Zaloguj się</button>
            </div>
        </form>
    </div>

</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>