<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8"/>
    <link th:href="@{/styles/style-add_book.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Zapomniałeś hasła</title>
</head>
<body>
<header>
    <a th:href="@{/}"><img class="logo" th:src="@{/images/logo.png}" alt="logo"/></a>
</header>
<div class="main">
    <div class="border">
        <a th:href="@{/}"><img class="option" th:src="@{/images/admin_icon/icon_home.png }" alt="Consola"/></a>
        <h3>Strona główna</h3>
    </div>
    <div class="content">
    <h2>Pomyślnie zmieniono hasło</h2>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>