<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="utf-8"/>
    <link th:href="@{/styles/style-add_book.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Resetowanie hasła</title>
</head>
<body>
<header>
    <a th:href="@{/}"><img class="logo" th:src="@{/images/logo.png}" alt="logo"/></a>
</header>
<div class="content">
    <div class="border">
    <a th:href="@{/}"><img class="option" th:src="@{../images/admin_icon/icon_home.png }" alt="Consola"/></a>
    <h3>Strona główna</h3>
</div>
<div class="main">
    <h2>Resetowanie twojego hasła</h2>
    <form th:action="@{/reset_password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
        <div class="input-container">
                <label>Nowe hasło:</label>
                <input type="password" name="password" class="form-control" id="password"
                           required="required" minlength="8" maxlength="64"/>
            </div>
            <div class="input-container">
                <label>Powtórz nowe hasło:</label>
                <input type="password" name="password_confirm" class="form-control" required="required"
                           minlength="8" id="password_confirm" oninput="check(this)" maxlength="64"/>
            </div>
            <script type='text/javascript'>
                function check(input) {
                    if (document.getElementById('password_confirm').value !== document.getElementById('newPassword').value) {
                        input.setCustomValidity('Hasła muszą być takie same.');
                    } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity('');
                    }
                }
            </script>
                <button type="submit" class="btn">Zmień hasło</button>
</form>
</div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>