<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj książke</title>
    <link rel="stylesheet" th:href="@{/styles/style_search_book_unlogged.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="main">
    <h2>Wyszukiwarka książek</h2>
    <div class="container">
    <h3><a th:href="@{/}">Home</a></h3>
    <form th:action="@{/search_result}" method="post"
          style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Wpisz nazwę książki, autora lub kategorię której szukasz:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:value="${name}" name="name" required/>
                </div>
            </div>

        </div>
        <div>
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </form>
</div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK</p>
    <p>93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>