<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj książke</title>
    <link rel="stylesheet" th:href="@{/styles/style_search_book_unlogged.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="main">
    <div class="container">
        <div class="border">
            <a th:href="@{/}"><img class="option" th:src="@{../images/admin_icon/icon_home.png }" alt="Consola"/></a>
            <h2>Strona główna</h2>
        </div>
        <div class="search">
            <h3>Wyszukiwarka książek</h3>
            <form th:action="@{/search_result}" method="post">
                <h2>Wpisz nazwę książki, autora lub kategorię której szukasz:</h2>
                    <input type="text" class="form-control" th:value="${name}" name="name" required/>
                    <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </form>
    </div>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK 93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>