<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Dane osobowe</title>
    <link rel="stylesheet" th:href="@{/styles/style-customer_details.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/logo_tlo.png}" alt="logo"/>
</header>
<div class="content">
    <h3><a th:href="@{/customer}">home</a></h3>
    <h5><span th:text="'Imię:  ' + ${user.firstName}"></span></h5>
    <br>
    <h5><span th:text="'Nazwisko:  ' + ${user.lastName}"></span></h5>
    <br>
    <h5><span th:text="'Email:  ' + ${user.email}"></span></h5>
</div>
<footer>
    <p>Biblioteka PJATK GDAŃSK</p>
    <p>93-540 GDAŃSK ul. Brzegi 55 </p>
    <p>Michał Czerwiak, Bartosz Kamiński, Katarzyna Węsierska</p>
</footer>
</body>
</html>