<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:remove="all">CodeCouple Newsletter</title>
    <link rel="stylesheet" th:href="@{styles/style-email.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>eBiblioteka</h1>
</header>
<div class="content">
<h2>Witaj, dostałeś tego maila ponieważ otrzymaliśmy zgłoszenie o zresetowaniu hasła</h2>
        <h3 th:text="${title}">title</h3></td>
        <h3>Aby zresetować hasło kliknij w podany link niżej.</h3>
        <h3 th:text="${description}">description</h3></td>

</div>
</body>
</html>