<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:remove="all">CodeCouple Newsletter</title>
    <link rel="stylesheet" th:href="@{styles/style-email.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Rejestracja w eBibioteka</h1></header>
</header>
<div class="content">
<h3>Witaj</h3><h3 th:text="${userName}"></h3>
    <h3>Twoje konto zostało utworzone. Teraz możesz wypożyczać książki. Miłego czytania</h3>

</div>
</body>
</html>