body{
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.content{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    text-align: center;
}
.main {
    padding: 5%;
    display: flex;
    justify-content: center;
}
.edit_option {
    display: flex;
}
h2 {
    padding: -10px;
    font-family: 'Roboto';
    font-size: 1em;
    text-align: center;
}

.option {
    width: 80%;
    margin: 0 auto;
}
h2 {
    padding-left: 5%;
    font-family: 'Roboto';
    font-size: 1em;
}
p {
    font-family: 'Roboto';
    font-size: medium;
    font-size: 0.5em;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
