body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#47ad96;
    text-align: center;
    display: block;
    height: 15vh;
}
.logo {
    width: 20%;
}

div {
    justify-content: center;
    background-color: beige;
    display: flex;
}
.login_format {
    padding: 5%;
}
h1 {
    padding-top: 5%;
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
}
p {
    font-family: 'Roboto';
    font-size: small;
}
.login 
{
    padding-top: 50px;
    display: block;
    width: 100%;
}
footer {
    display: block;
    background-color:#47ad96;
    text-align: center;
    height: 10vh;
    padding: 2%;
}