body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#47ad96;
    text-align: center;
    display: block;
    height: 15vh;
}
.logo {
    width: 20%;
}

.register {
    text-align: center;
    background-color: beige;
    display: block;
    padding: 3%;
}
.register_format {
    padding: 3%;
}
input {
    text-align: left;
}
h1 {
    font-family: 'Roboto';
    text-align: center;
    font-size: 2em;
}
p {
    font-family: 'Roboto';
    font-size: small;
}

footer {
    display: block;
    background-color:#47ad96;
    text-align: center;
    height: 10vh;
    padding: 2%;
}