body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.content{
    display: flex;
    text-align: left;

}
.main {
    width: 100%;
    padding: 0 5% 5% 5%;
}
h2 {
    font-size: 1.5vw;
    text-align: center;
}
h3 {
    font-size: 1vw;
    text-align: center;
}
.border {
    border: #47ad96;
    border-style: double;
    border-radius: 3px;
    width: 15%;
    height: 15%;
    margin: 10px;
    text-align: center;

}
.option {
    width: 80%;
    margin: 0 auto;
}
.edit_part {
    text-align: left;
    display: block;
    padding: 3%;
}

p {
    font-size: 0.8vw;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
.input-container{
    position:relative;
    margin-bottom:30px;
}

.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    font-weight: bolder;
    color:black;
    transition: all 0.5s ease-in-out;
    pointer-events:none;

}
.input-container input {
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    padding: 30px 0 5px 0;
    font-size: 16px;
    color: black;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}
.btn {
    color: black;
    background-color: #9edbc8;
    outline: none;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
.btn:after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
}