body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    background-color:white;
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.login 
{
    display: flex; 
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.login_photo{
    width:35%;
}
.login_format {
    height: 10%;
}
button {
    height: 50%;
    width: 30%;
    font-size: 10px;
}
input { 
    height: 50%;
    width: 50%;
    font-size: 10px;
}
lable {
    font-size: 10px;
}
.content{
    background-color: white;
    display: flex;
}
h1 {
    padding-top: 3%;
    font-family: 'Roboto';
    font-size: 1em;
    padding-bottom: 5%;
}
h2 {
    padding-left: 5%;
    font-family: 'Roboto';
    font-size: 0.5em;
}
p {
    font-family: 'Roboto';
    font-size: medium;
}

.folder { 
    background-color:rgb(236,180,78, 0.3);
    justify-content: left;
    width:18%;
    display: block;
    padding-left: 3%;
}
.main {
    width: 70%;
    padding: 5%;
    display: block;
    text-align: center;
}
.search {
    padding: 5%;
    display: block;
}
.search_photo{
    width: 100%;

}
input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
}
.table {
    border-collapse: collapse;
    width: 100%;

}
.headline {
    background-color: #9edbc8 ;
    font-family: 'Roboto';
    font-size: medium;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 10px;
}
tr:nth-child(even) {background-color: beige;}
tr {
    width: 100%;
}
.photo {
    width: 10%;
    justify-content: left;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
   
}
p {
    font-size: 0.5em;
}