body {
    padding-top:3%;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #9edbc8;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}
.content {
    justify-content: center;
    background-color: beige;
    display: flex;
    align-items: center;
}
.main {
}

.logo {
    width: 30vw;
}
.form-control {
     width: 100%;
}
.button_container{
    display: block;
}

h2{
    font-size: 1vw;
    text-align: left;
}
h1 {
    text-align: center;
    font-size: 4vw;
}
h3 {
    font-size: 1vw;
    margin-bottom: 30px;
}
p {
    font-size: 0.8vw;
}
.login {
    padding: 30px;
    display: block;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none;
    color:black;
}
.alert {
    margin-bottom: -5% ;
}
footer {
    display: block;
    background-color: #9edbc8;
    text-align: center;
    padding: 2%;
}

.main{
    padding:70px 100px;
}
.input-container{
    position:relative;
    margin-bottom:30px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:black;
    transition: all 0.5s ease-in-out;
    pointer-events:none;

}
.input-container input {
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 120%;
    padding: 10px 0 5px 0;
    font-size: 16px;
    color: black;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}
.btn{
    color:black;
    background-color:#9edbc8;
    outline: none;
    border: 0;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:30px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
}

@media (max-width: 720px) {
    .content {
        justify-content: center;
        display: block;
        align-items: center;
        text-align: center;
    }
    .logo {
        width:50vw;
    }
    .main {
        padding: 50px;
    }
    h1 {
        font-size: 5vw;
    }
    .input-container input {
        width: 100%;
}}