body {
    padding-top:3%;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #9edbc8;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}
.content {

}
.main {
    justify-content: center;
    background-color: beige;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
}

div {
    justify-content: center;
    background-color: beige;
    display: flex;
}
.login_format {
    padding: 5%;
    align-items: center;
}
.form-control {

}
h2{
    font-size: 1vw;
}
h1 {
    text-align: center;
    font-size: 4vw;
}
p {
    font-size: 0.8vw;
}
.login {
    padding: 30px;
    display: block;
    width: 100%;
    text-align: center;
}
button {
    background-color: #47ad96;
    }
footer {
    display: block;
    background-color: #9edbc8;
    text-align: center;
    height: 10vh;
    padding: 2%;
}