body{
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.content{
    display: flex;
    padding: 5%;
    text-align: center;
}
.main {
    display: block;
    width: 100%;
}

.edit_option {
    display: block;
    padding:3%;
}

.edit_part {
    padding: 2%;
    text-align: left;
}
.border {
    border: #47ad96;
    border-style: double;
    border-radius: 3px;
    width: 15%;
    height: 15%;
    margin-left: -5%;
    margin-right: 5%;
}
.option {
    width: 80%;
    margin: 0 auto;
}
h2 {
    font-size: 1.5vw;
}
h3{
    font-size:1vw;
}
p {

    font-size: 0.8vw;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
