body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.hero {
    width: 80%;
}
.logo {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.login {
    text-align: center;
    margin: 0 auto;
}
.text_describe {
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

.login_photo{
    width:35%;
}
.login_photo:hover {
   //* width:36%; *//
}
.login_format {
    height: 10%;
}

input { 
    height: 50%;
    width: 50%;
    font-size: 10vm;
}

.content{
    background-color: white;
    display: flex;
    height: auto;
}

h2 {
    padding-left: 5%;
    font-size: 1.2vw;
}
p {
    font-size: 0.8vw;
}

.folder {
    background-color: rgb(236,180,78, 0.3);
    width: 18%;
    padding: 3%;
}
.main {
    width: 70%;
    padding: 5%;
    display: block;
    text-align: center;
    overflow: scroll;
    height: 400px;
}
.search {
    display: flex;
}
.search_photo{
    width: 100%;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
}
.headline {
    background-color: #9edbc8 ;
    font-size: medium;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 1vw;
}
tr:nth-child(even) {background-color: beige;}
tr {
    width: 100%;
}
.photo {
    width: 10%;
    justify-content: left;
}
.border {
    border: #47ad96;
    border-style: double;
    border-radius: 3px;
    width: 15%;
    height: 15%;
    margin: 10px;

}
.option {
    width: 80%;
    margin: 0 auto;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
.btn{
    color:black;
    background-color:#9edbc8;
    outline: none;
    border: 0;
    padding:10px 20px;
    text-transform:uppercase;
    margin-bottom: 10px;
    border-radius:2px;
    cursor:pointer;
    font-size: 1vw;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}



.btn:hover {
    background-color: #fff;
    color: #9edbc8;
    box-shadow: none;
}

@media (max-width: 720px) {
    .btn{ font-size: 0.8vw;
        padding:5px 15px;
    }
}
