body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.content{
    text-align: center;
}
h2 {
    font-size: 1vw;
}
h3 {
    font-size: 1.5vw;
    margin-top: 5%;
}
.main {
    padding: 0 3% 3%;
    display: flex;
}
.border {
    border: #47ad96;
    border-style: double;
    border-radius: 3px;
    margin: 3%;
    height: 20vh;
}

.option {
    width: 90%;
}
.option:hover {
    width: 92%;
}
p {

    font-size: 0.8vw;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;

}
