body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.login 
{
    display: block;
    width: 40%;
    justify-items: center;
}
.text_describe {
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
    font-size: 0.6vm;
}


.login_photo{
    width:35%;
    margin-left: 40%;
}
.login_photo:hover {
    width:36%;
}
.login_format {
    height: 10%;
}

input { 
    height: 50%;
    width: 50%;
    font-size: 10vm;
}

.content{
    background-color: white;
    display: flex;
    height: auto;
}

h2 {
    padding-left: 5%;
    font-size: 1.2vw;
}
p {
    font-size: 0.8vw;

}

.folder { 
    background-color:rgb(236,180,78, 0.3);
    justify-content: left;
    width:18%;
    display: block;
    padding-left: 3%;
}
.main {
    width: 70%;
    padding: 5%;
    display: block;
    text-align: center;
    overflow: scroll;
    height: 400px;
}
.search {
    display: flex;
}
.search_photo{
    width: 100%;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
}
.headline {
    background-color: #9edbc8 ;
    font-size: medium;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 1vw;
}
tr:nth-child(even) {background-color: beige;}
tr {
    width: 100%;
}
.photo {
    width: 10%;
    justify-content: left;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
