body {
    width: 80%;
    background-color:white;
    margin:0 auto;
    display: block;
    text-decoration-color: #3f5983;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
}
header {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.logo {
    width: 50%;
}
.content{
    display: flex;
    text-align: center;
}
.main {
    padding: 0 5% 5% 5%;
    display: block;
    justify-content: center;
    width: 100%;
}
h2 {
    font-size: 1.5vw;
    text-align: center;
}
h3 {
    font-size: 1vw;
}

.border {
    border: #47ad96;
    border-style: double;
    border-radius: 3px;
    width: 15%;
    height: 15%;
    margin: 10px;

}
.option {
    width: 80%;
    margin: 0 auto;
}
table {
     border-collapse: collapse;
     width: 100%;
 }
.headline {
    background-color: #9edbc8 ;
    font-size: medium;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size:1vw;
}
tr:nth-child(even) {background-color: beige;}
tr {
    width: 100%;
}
p {
    font-size: 0.8vw;
}
footer {
    display: block;
    background-color:#9edbc8 ;
    text-align: center;
    padding: 1%;
}
.btn {
    color: black;
    background-color: #9edbc8;
    outline: none;
    border: 0;
    padding: 5px 10px;
    font-size: 0.8vw;
    text-transform: uppercase;
    /* margin-top: 30px; */
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
a { text-decoration: none;
    color: black;}